.containerListaTransacao {
    padding: 3%;
    width: 100%;
}
.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;  
}
.linhaListaTitulo {
    height: 40px;
    width: 100%;
    list-style-type: none;
    justify-content: center;
    display: table-row
}

.linhaListaItem {
    height: 30px;
    width: 100%;
    list-style-type: none;
    display: table-row;
}

.itemLista {
    border: 2px solid;
    border-color: #ffde59;
    color: black;
    font-weight: bolder;
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}


.nenhumItem {
    width: 100%;
    text-align: center;
}
.titulo{
   color: #ffde59;
}

.cadastroTransacao {
    width: 100%;
}


.inputCadastroTransacao{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    color: #ffde59;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; 
}

.buttom {
    width: 100%;
    padding: 12px;
    background-color: #ffde59; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttom:hover {
    background-color: #8f7613;
}
.titulo{
    color: #ffde59;
}


label {
    height: 15px;
    display: inline-flex; 
    align-items: center; 
    margin-right: 15px; 
}
