
.layoutPrincipal{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: red;

}
.layoutContainer {
    position: fixed;  
    background-color: white; 
    width: 90%;       
    height: 85%;    
    border-radius: 40px;
    display: flex;                
    justify-content: space-between;
    overflow-y: auto;
}

