.imagemContainer {
    margin-top: 10%;
    color: #5271ff;
    text-align: center;  
}
.hr {
    border: none; /* Remove a borda padrão */
    border-top: 5px solid #5271ff; /* Define a espessura e a cor da linha */
    width: 50%; /* Define o comprimento da linha */
    margin: 20px auto; /* Centraliza a linha e dá margem em cima e embaixo */
}



.pessoaContainer {
    margin-top: 3%;
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.button {
    width: 50%;
    display: block;
    margin-top: 8%;
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do texto branca */
    border: none; /* Remove a borda padrão */
    border-radius: 12px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno (um pouco de margem dentro do botão) */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor em forma de mão quando passar por cima */
    transition: background-color 0.3s ease; /* Transição suave para o efeito de hover */
}

.button:hover {
    background-color: #0056b3; /* Cor azul mais escura ao passar o mouse */
}


.buttonExcluir {
    background-color: #e74c3c; /* Cor vermelha para o botão "Excluir" */
}

.buttonExcluir:hover {
    background-color: #c0392b; /* Cor vermelha mais escura quando passar o mouse */
}