.imagemContainer {
    margin-top: 10%;
    color: #ffde59;
    text-align: center;  
}
.hr {
    border: none; 
    border-top: 5px solid #ffde59; 
    width: 50%; 
    margin: 20px auto; 
}


.transacaoContainer {
    margin-top: 3%;
    padding-top: 13%;
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.button {
    width: 50%;
    display: block;
    margin-top: 8%;
    background-color: #ffde59; 
    color: white; 
    border: none; 
    border-radius: 12px; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #b89712; 
}
