

.linkButton {
    background-color: #007bff;
}

.linkButton:hover {
    background-color: #0056b3; 
}

.linkExcluir {
    background-color: #e74c3c;
}

.linkExcluir:hover {
    background-color: #c0392b; 
}
.hr{
    color: #007bff;
}